.row
  .col-md-3
    .card.mb-3.clear-border
      .card-body
        .profile-pic
          = image_tag("me.jpg")

  .col-md-9
    .card.mb-3.clear-border.name-text-align
      .card-body
        %h1.card-title
          = 'CALVIN CHU'
        %p.card-text
          %i.fa.fa-mobile
          = link_to '+886-921-857-258', 'tel:+886-921-857-258'
        %p.card-text
          %i.fa.fa-envelope
          = mail_to 'calvinchu8172@gmail.com'
        %p.card-text
          %i.fab.fa-github
          = link_to 'github.com/calvinchu8172', 'https://github.com/calvinchu8172', target: "_blank", title: 'https://github.com/calvinchu8172'
        %p.card-text
          %i.fas.fa-map-marker-alt
          = link_to 'Taipei City, Taiwan', 'https://goo.gl/maps/t5BQHejAoh5tiMP88', target: "_blank", title: 'Taipei City, Taiwan'

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = 'EDUCATION'
  .card-body
    %h6.card-title
      = 'Stevens Institute of Technology - Hoboken, NJ, U.S.A 2007/9 ~ 2009/1'
    %p.card-text
      = 'Master of Electrical Engineering GPA: 3.8/4.0'
    %h6.card-title
      = 'Tamkang University - Taipei, Taiwan 1998/9 ~ 2002/6'
    %p.card-text
      = 'Bachelor of Electrical Engineering'

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = 'PROGRAMMING COURSES'
  .card-body
    %h6.card-title
      = 'ALPHA Camp - Taipei, Taiwan 2014/10 ~ 2014/12'
    %p.card-text
      = '3 months full time Web Development with over 500+ hours of learning.'
    %h6.card-title
      = 'AWS(Amazon Web Services) Training - Taipei, Taiwan 2014/12'
    %p.card-text
      = '1 week full time training for Architecting on AWS.'

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = 'LANGUAGES'
  .card-body
    = 'English(TOEIC:830), Japanese(2 years) and Mandarin(Native).'

.card.mb-3
  .card-header.bg-primary
    .h6.clear-mb
      = 'SKILLS'
  .card-body
    %p.card-text
      = 'Proficient: '
      - @proficient.each do |i|
        %span.badge.badge-primary
          = i
    %p.card-text
      = 'Familier: '
      - @familier.each do |i|
        %span.badge.badge-primary
          = i
    %p.card-text
      = 'Programming tools: '
      - @tools.each do |i|
        %span.badge.badge-primary
          = i

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = 'SOFTWARE PROJECTS'
  .card-body
    %h6.card-title
      = 'Personal resume website: '
      = link_to 'profile.lovefunthing.com', 'https://profile.lovefunthing.com', target: "_blank", title: 'https://profile.lovefunthing.com'
    %ul
      %li
        = 'A Serverless structure to host static pages and cron jobs without any server hosting fee.'
      %li
        = 'RWD and embedded GA and GTM code.'
      %li
        = 'Utilized: Ruby on Jets, HAML, SCSS, Javacript, Bootstrap, AWS Lambda, API Gateway, ACM(AWS Certificate Management) as SSL Certificate, AWS Route53 as DNS.'

    %h6.card-title
      = 'Loveiplant E-commerce website: '
      = link_to 'www.loveiplant.com', 'https://www.loveiplant.com', target: "_blank", title: 'https://www.loveiplant.com'
    %ul
      %li
        = 'An E-commerce, blog, store image and customer service website.'
      %li
        = 'RWD and embedded GA and GTM code.'
      %li
        = 'Utilized: Wordpress, LAMP Server(Linux, Apache, MySQL, PHP), Let’s Encrypt SSL Certificate, AWS Route53 as DNS, AWS Cloudfront as CDN, AWS SES as mailer server, AWS S3 as pictures storage.'

    %h6.card-title
      = 'PCloud Portal and Restful API Server: '
      = link_to 'portal.lovefunthing.com', 'https://portal.lovefunthing.com', target: "_blank", title: 'https://portal.lovefunthing.com'
    %ul
      %li
        = 'A Rails website as an user interface to pair with and configure their devices.'
      %li
        = 'A communicating mechanism between Rails website and devices structured with XMPP Server, Redis and AWS SQS.'
      %li
        = 'Bots based on Ruby code handle the message between XMPP Server, Redis and AWS SQS.'
      %li
        = 'A RESTful API Server allows devices or developers to access data.'
      %li
        = 'RWD, embedded GA and GTM code and implemented Travis-CI automatic test.'
      %li
        = 'Utilized: Ruby on Rails, HTML, SCSS, Bootstrap, AngularJS, Redis, MySQL, MongooseIM XMPP server, AWS Route53, AWS SQS, AWS S3, AWS SES, Travis-CI.'
      %li
        = 'Deployed by Unicorn, Nginx, Docker, Docker-compose, Let’s Encrypt SSL Certificate.'

    %h6.card-title
      = 'SSO(Single Sign On) OAuth2 sign-in service: '
      = link_to 'sso.lovefunthing.com', 'https://sso.lovefunthing.com', target: "_blank", title: 'https://sso.lovefunthing.com'
    %ul
      %li
        = 'An user Register and Sign-in Center based on Ruby on Rails and OAuth2 protocol.'
      %li
        = 'Implement Google and Facebook Sign-in.'
      %li
        = 'RWD, embedded GA and GTM code and implemented Travis-CI automatic test.'
      %li
        = 'Utilized: Ruby on Rails, HAML, SCSS, Bootstrap, jQuery, AWS Route53, AWS SES, Travis-CI'
      %li
        = 'Deployed by Unicorn, Nginx, Docker, Docker-compose, Let’s Encrypt SSL Certificate.'

    %h6.card-title
      = 'DUreading books management web APP: '
      = link_to 'dureading.lovefunthing.com', 'https://dureading.lovefunthing.com', target: "_blank", title: 'https://dureading.lovefunthing.com'
    %ul
      %li
        = 'Implement OAuth2 client and Sign in to SSO Server.'
      %li
        = 'Integrated Goodreads social cataloging website API.'
      %li
        = 'RWD and embedded GA and GTM code.'
      %li
        = 'Utilized: Ruby on Rails, HAML, SCSS, Bootstrap, jQuery, AWS Route53 as DNS, AWS S3 as books pictures storage.'
      %li
        = 'Deployed by Unicorn, Nginx, Docker, Docker-compose, Let’s Encrypt SSL Certificate.'

    %h6.card-title
      = 'PCstore E-commerce web APP: '
      = link_to 'pcstore.lovefunthing.com', 'https://pcstore.lovefunthing.com', target: "_blank", title: 'https://pcstore.lovefunthing.com'
    %ul
      %li
        = 'Implement OAuth2 client and Sign in to SSO Server.'
      %li
        = 'Forestage: Payment flow, searching and sorting products and personal bills management for customers.'
      %li
        = 'Backstage: Fully management(CRUD, sorting and searching) of products, categories and bills for administrators.'
      %li
        = 'Integrated PayPal payment.'
      %li
        = 'RWD and embedded GA and GTM code.'
      %li
        = 'Utilized: Ruby on Rails, HAML, SCSS, Bootstrap, jQuery, AWS Route53 as DNS, AWS S3 as products pictures storage.'
      %li
        = 'Deployed by Unicorn, Nginx, Docker, Docker-compose, Let’s Encrypt SSL Certificate.'


.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = 'WORK EXPERIENCE'
  .card-body
    %h6.card-title
      = 'Loveiplant Plant Store - Tainan, Taiwan 2018/01 ~ now'
    %h6.card-title
      = 'Fullstack Web Developer / Co-manager'
    %ul
      %li
        = 'Built an E-commerce website to broaden business.'
      %li
        = 'Communicated the design requirements with the physical store owner.'
      %li
        = 'Managed website content, such as products, events, blogs, etc.'
      %li
        = 'Handled various affairs in physical store.'
      %li
        = 'Managed Facebook fan pages and groups.'

    %h6.card-title
      = 'Ecowork Inc. - Taipei, Taiwan 2015/6 ~ 2017/11'
    %h6.card-title
      = 'Fullstack Platform Engineer'
    %ul
      %li
        = 'Collaborated with customers and yield PRD(Product Requirement Document), SA(System Analysis), SD(System Design), API document and user guide.'
      %li
        = 'Optimized the current running projects and deployed updated versions regularly.'
      %li
        = 'Researched and implemented new technology in new projects to reduce the host cost, also considering the scalability and reliability.'
      %li
        = 'Improved the programming quality by building automatic test and generating test-report in every project and implemented CI(continuous integration).'
      %li
        = 'Enhanced the early notification by building monitoring and alert system.'
      %li
        = 'Leveraged Knowledge: Ruby on Rails, NodeJS, GIT, Gitlab-CI, Javascript, Coffeescript, AngularJS, jQuery, HAML/HTML, SCSS/CSS, Vagrant, Chef, Gitlab-CI.'
      %li
        = 'Leveraged AWS Knowledge: VPC, CloudFront, Route 53, API Gateway, ELB, EC2, ECR, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, ElastiCache, CloudWatch, OpsWorks, IAM, Certificate Manager, SNS(Simple Notification Service), SQS(Simple Queue Service), SES(Simple Email Service).'

    %h6.card-title
      = 'Global EduGate - Taipei, Taiwan 2014/5 ~ 2014/9'
    %h6.card-title
      = 'VP of Sales and Marketing'
    %ul
      %li
        = 'Presented to Ministry of Education, 2 Taiwanese universities to explore business partnership opportunities.'
      %li
        = 'Conducted market sizing and competitive analysis of online degree and certificate industry to assess business opportunity.'

    %h6.card-title
      = 'Japan Display Inc. (JDI) - Taipei, Taiwan 2013/1 ~ 2014/2'
    %h6.card-title
      = 'Field Application Engineer'
    %ul
      %li
        = 'Won 4 contracts including Google Nexus 7, Sony Xperia T3, Garmin sports watch and sports camera LCD products, total amount of revenue over USD 50M per year.'
      %li
        = 'Project managed both Taiwan client (ASUS, Sony and Garmin) and internal engineering (R&D in Japan and Manufacturing in China) teams, making sure projects were completed on schedule.'
      %li
        = 'Directly supported client engineers on technical issues in using advanced LCD panel, ensuring projects successfully went into mass production.'
      %li
        = link_to 'Recommendation letter: Manager of FAE & QA Dept. of JDI Taiwan', gary_hsu_recommendation_letters_path, target: "_blank", title: 'Gary Hsu recommendation letter'
      %li
        = link_to 'Recommendation letter: Chairman of JDI Taiwan', hideo_kataoka_recommendation_letters_path, target: "_blank", title: 'Hideo Kataoka recommendation letter'
      %li
        = link_to 'Recommendation letter: Manager of MKT & FAE Dept of JDI HQ.', eiji_sakai_recommendation_letters_path, target: "_blank", title: 'Eiji Sakai recommendation letter'


    %h6.card-title
      = 'Chimei-Innolux Corp. (CMI) - Chunan, Taiwan 2010/1 ~ 2013/12'
    %h6.card-title
      = 'Electrical Engineer'
    %ul
      %li
        = 'Optimized manufacturing process by developing in-house software in C, improving production efficiency by 10%.'
      %li
        = 'Led electrical engineer effort on all projects with Nokia.'
      %li
        = 'Designed Nokia projects with monthly shipment of 2 million units.'
      %li
        = 'Designed the connection circuit between LCD module and mobile phone.'
      %li
        = 'Optimized the optical performance of LCD module by tuning the firmware in driver IC.'
      %li
        = 'Verified the products following Nokia’s specifications and solved the issues with Nokia.'
      %li
        = 'Leveraged Knowledge: C, OrCAD, PowerLogic, PowerPCB, oscilloscope, multimeter.'
