.row
  .col-md-4
    = render 'profiles/picture'

  .col-md-8
    .card.mb-3.clear-border.name-text-align
      .card-body
        %h1.card-title
          = '朱冠穎'
        %p.card-text
          %i.fa.fa-mobile
          = link_to '+886-921-857-258', 'tel:+886-921-857-258'
        %p.card-text
          %i.fa.fa-envelope
          = mail_to 'calvinchu8172@gmail.com'
        %p.card-text
          %i.fab.fa-github
          = link_to 'github.com/calvinchu8172', 'https://github.com/calvinchu8172', target: "_blank", title: 'https://github.com/calvinchu8172'
        %p.card-text
          %i.fas.fa-map-marker-alt
          = link_to '台北市，台灣', 'https://goo.gl/maps/t5BQHejAoh5tiMP88', target: "_blank", title: '台北市，台灣'


.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = '學歷'
  .card-body
    %h6.card-title
      = '史蒂文斯理工學院 - 霍博肯，紐澤西，美國 2007/9 ~ 2009/1'
    %p.card-text
      = '電機工程學系碩士 GPA: 3.8/4.0'
    %h6.card-title
      = '淡江大學 - 1998/9 ~ 2002/6'
    %p.card-text
      = '電機工程學系學士'

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = '程式課程'
  .card-body
    %h6.card-title
      = 'ALPHA Camp - 2014/10 ~ 2014/12'
    %p.card-text
      = '三個月全職全端網頁課程'
    %h6.card-title
      = ' AWS（Amazon Web Services）雲端計算課程 - 2014/12'
    %p.card-text
      = 'AWS 舉辦的為期一週的訓練課程'

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = '語言'
  .card-body
    = '英語（TOEIC:830），日語（學習兩年），（台灣）華語（母語）'

.card.mb-3
  .card-header.bg-primary
    .h6.clear-mb
      = '技能'
  .card-body
    %p.card-text
      = '擅長： '
      - @proficient.each do |i|
        %span.badge.badge-primary
          = i
    %p.card-text
      = '熟悉： '
      - @familier.each do |i|
        %span.badge.badge-primary
          = i
    %p.card-text
      = '常用工具： '
      - @tools.each do |i|
        %span.badge.badge-primary
          = i

.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = '作品'
  .card-body
    %h6.card-title
      = '個人履歷網站：'
      = link_to 'profile.lovefunthing.com', 'https://profile.lovefunthing.com', target: "_blank", title: 'https://profile.lovefunthing.com'
    %ul
      %li
        = '處理靜態網頁與排程工作，使用 Serverless 架構，不需要任何伺服器費用。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼。'
      %li
        = '使用工具：Ruby on Jets、HAML、SCSS、Javascript、Bootstrap、AWS Lambda、API Gateway、ACM(AWS Certificate Management) as SSL Certificate、AWS Route53 as DNS。'

    %h6.card-title
      = 'Loveiplant 購物網站：'
      = link_to 'www.loveiplant.com', 'https://www.loveiplant.com', target: "_blank", title: 'https://www.loveiplant.com'
    %ul
      %li
        = '電商，部落格，形象與客服網站。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼。'
      %li
        = '使用工具：Wordpress、LAMP Server(Linux、Apache、MySQL、PHP)、Let’s Encrypt SSL Certificate、AWS Route53 DNS 服務、AWS Cloudfront CDN 服務、AWS SES 郵件服務、AWS S3 儲存大量圖片。'

    %h6.card-title
      = 'PCloud Portal and Restful API Server: '
      = link_to 'portal.lovefunthing.com', 'https://portal.lovefunthing.com', target: "_blank", title: 'https://portal.lovefunthing.com'
    %ul
      %li
        = '使用者可配對並設定裝置。'
      %li
        = '使用 XMPP Server、Redis、AWS SQS 作為 Rails 網站與裝置溝通的中介機制。'
      %li
        = '使用 Ruby 編寫訊息處理機器人，不斷處理 XMPP Server、Redis、AWS SQS 間的訊息。'
      %li
        = 'RESTful API Server 提供裝置與開發者存取資料。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼，Travis-CI 自動化測試。'
      %li
        = '使用工具： Ruby on Rails、HTML、SCSS、Bootstrap、AngularJS、Redis、MySQL、MongooseIM XMPP server、AWS Route53、AWS SQS、AWS S3、AWS SES、Travis-CI。'
      %li
        = '部署工具：Unicorn、Nginx、Docker、Docker-compose、Let’s Encrypt SSL Certificate。'

    %h6.card-title
      = 'SSO 單一登入系統：'
      = link_to 'sso.lovefunthing.com', 'https://sso.lovefunthing.com', target: "_blank", title: 'https://sso.lovefunthing.com'
    %ul
      %li
        = '可透過 OAuth2 機制實現各網站的使用者經由這網站註冊、登入、集中管理使用者資料，而不需要各網站各一個登入系統。'
      %li
        = '除 Email 登入外也可透過 Google 與 Facebook 社群帳號登入。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼，Travis-CI 自動化測試。'
      %li
        = '使用工具：Ruby on Rails、HAML、SCSS、Bootstrap、jQuery、AWS Route53、AWS SES、Travis-CI。'
      %li
        = '部署工具：Unicorn、Nginx、Docker、Docker-compose、Let’s Encrypt SSL。'

    %h6.card-title
      = 'DUreading 書籍管理網站：'
      = link_to 'dureading.lovefunthing.com', 'https://dureading.lovefunthing.com', target: "_blank", title: 'https://dureading.lovefunthing.com'
    %ul
      %li
        = '可透過 OAuth2 機制，登入 SSO 單一登入系統。'
      %li
        = '整合 Goodreads 閱讀社群網站 API。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼。'
      %li
        = '使用工具：Ruby on Rails、HAML、SCSS、Bootstrap、jQuery、AWS Route53、AWS S3。'
      %li
        = '部署工具：Unicorn、Nginx、Docker、Docker-compose、Let’s Encrypt SSL Certificate。'

    %h6.card-title
      = 'PCstore 購物網站：'
      = link_to 'pcstore.lovefunthing.com', 'https://pcstore.lovefunthing.com', target: "_blank", title: 'https://pcstore.lovefunthing.com'
    %ul
      %li
        = '可透過 OAuth2 機制，登入 SSO 單一登入系統。'
      %li
        = '前台：購物流程，消費者可搜尋、排序商品，管理自己的訂單。'
      %li
        = '後台：管理員可全權管理所有商品、分類、訂單。'
      %li
        = '整合 Paypal 付款。'
      %li
        = '自適應網頁，有嵌入 GA、GTM 程式碼。'
      %li
        = '使用工具：Ruby on Rails、HAML、SCSS、Bootstrap、jQuery、AWS Route53、AWS S3。'
      %li
        = '部署工具：Unicorn、Nginx、Docker、Docker-compose、Let’s Encrypt SSL Certificate。'


.card.mb-3
  .card-header.bg-primary
    %h6.clear-mb
      = '經歷'
  .card-body
    %h6.card-title
      = 'Loveiplant 植栽商店 - 台南市，台灣 2018/01 ~ now'
    %h6.card-title
      = '全端工程師 / 共同經營者'
    %ul
      %li
        = '建立電商網站以擴展實體店面業務。'
      %li
        = '與實體店面店主溝通網站需求。'
      %li
        = '更新網站內容，維持網站運作。'
      %li
        = '協助處理實體店面各項事務。'
      %li
        = '協助經營 Facebook 粉絲專頁。'

    %h6.card-title
      = 'Ecowork Inc. - 台北市，台灣 2015/6 ~ 2017/11'
    %h6.card-title
      = '全端工程師'
    %ul
      %li
        = '與客戶合作產出前期設計所需文件：PRD(Product Requirement Document)、SA(System Analysis)、SD(System Design)、API 文件、使用說明書。'
      %li
        = '優化現有專案與定期更新上線。'
      %li
        = '研究新技術並導入新專案，考慮擴展性與可靠性，盡可能達成降低維運成本。'
      %li
        = '導入自動化測試與 CI（Continuous Integration 持續整合），可產出自動化測試報告，保障專案品質。'
      %li
        = '建立監控與通知系統，問題發生可早期通知。'
      %li
        = '常用工具：AWS、Ruby on Rails、NodeJS、GIT、Gitlab-CI、Javascript、Coffeescript、AngularJS、jQuery、HAML/HTML、SCSS/CSS、Vagrant、Chef、Gitlab-CI。'
      %li
        = '使用過的 AWS 服務：VPC、CloudFront、Route 53、API Gateway、ELB、EC2、ECR、Lambda、Elastic Beanstalk、S3、RDS、DynamoDB、ElastiCache, CloudWatch、OpsWorks、IAM、Certificate Manager、SNS(Simple Notification Service)、SQS(Simple Queue Service)、SES(Simple Email Service)。'

    %h6.card-title
      = 'Global EduGate - 台北市，台灣 2014/5 ~ 2014/9'
    %h6.card-title
      = 'VP of Sales and Marketing'
    %ul
      %li
        = '進行線上教育之市場分析與調查。'
      %li
        = '至教育部與台灣各大學簡報推廣與尋找線上教育合作機會。'

    %h6.card-title
      = 'Japan Display Inc. (JDI) - 台北市，台灣 2013/1 ~ 2014/2'
    %h6.card-title
      = 'Field Application Engineer'
    %ul
      %li
        = '為公司贏得四項專案：Google Nexus 7、Sony Xperia T3、Garmin 運動手錶、Garmin 運動攝影機的 LCD 面板，總利潤為每年五千萬美金。'
      %li
        = '管理專案進行，確保客戶（ASUS、Sony 與 Garmin）與公司內部（日本研發人員與中國工廠）的專案符合時程。'
      %li
        = '當客戶使用先進面板時，提供即時的技術支援並解決技術上的問題，確保案子進入量產。'
      %li
        = link_to '推薦信： Manager of FAE & QA Dept. of JDI Taiwan', gary_hsu_recommendation_letters_path, target: "_blank", title: 'Gary Hsu recommendation letter'
      %li
        = link_to '推薦信： Chairman of JDI Taiwan', hideo_kataoka_recommendation_letters_path, target: "_blank", title: 'Hideo Kataoka recommendation letter'
      %li
        = link_to '推薦信： Manager of MKT & FAE Dept of JDI HQ.', eiji_sakai_recommendation_letters_path, target: "_blank", title: 'Eiji Sakai recommendation letter'

    %h6.card-title
      = '群創光電 - 竹南，台灣 2010/1 ~ 2013/12'
    %h6.card-title
      = '電子工程師'
    %ul
      %li
        = '主導 Nokia 手機使用的面板電子系統相關設計，負責的 Nokia 相關專案月出貨量約兩百萬。'
      %li
        = '撰寫研發工具及工廠產線系統的 C 語言程式，並進行優化，增進效率達百分之十。'
      %li
        = '設計面板與手機主機板間連接電路。'
      %li
        = '優化面板驅動 IC 韌體。'
      %li
        = '驗證面板符合 Nokia 相關規格，並與 Nokia 合作解決 Issue。'
      %li
        = '常用工具：C 語言、OrCAD、PowerLogic、PowerPCB、示波器、三用電錶。'
